@use "../variables/colors";

.badge {
  display: inline-block;
  background-color: colors.$link-active;
  color: colors.$background-color;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  padding: 0.0625rem 0.25rem;
  font-weight: 600;
  border: 2px solid colors.$link-active;
  transition: all 0.3s ease-in-out;

  + .badge {
    margin-left: 0.375rem;
    margin-bottom: 0.375rem;
  }

  .tech-filter & {
    background-color: transparent;
    border: 2px solid colors.$link-active;
    color: colors.$link-active;

    &.is-active {
      background-color: colors.$link-active;
      color: colors.$background-color;
    }
  }
}