@use "../variables/colors";

footer {
  text-align: center;
  margin: auto 0 3rem 0;
  padding-top: 7rem;

  ul {
    margin: 0;
    padding: 0;

    li {
      margin: 0 0.5rem;
      display: inline-block;

      a.router-link-active {
        color: colors.$link-active;
      }
    }
  }
}