@use "../variables/colors";
@use "../variables/sizes";

.meta-navigation {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  font-size: 0.875rem;

  @media(max-width: sizes.$page-padding-breakpoint) {
    padding: 0 2rem;
  }

  a {
    display: inline-block;
    margin: 0 0.375rem;
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    &.active {
      color: colors.$link-active;
    }
  }
}