@use "../variables/colors";

.navbar {
  text-align: center;
  padding: 0 2rem;

  > a {
    display: inline-block;
    margin: 0 0.625rem 0.625rem;
    font-size: 1.375rem;

    &.router-link-active {
      color: colors.$link-active;
    }
  }
}