@keyframes fadeOut {
  0% {
    opacity: 1;
    max-height: 5000px;
    left: 0;
  }
  100% {
    opacity: 0;
    max-height: 0;
    left: -2000px;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
    max-height: 5000px;
    left: 0;
  }
  0% {
    opacity: 0;
    max-height: 0;
    left: -2000px;
  }
}

.projects-home {
  display: flex;
  flex-wrap: wrap;
}

.project {
  position: relative;

  img {
    box-shadow: -1rem -1rem 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    height: auto;
    margin-bottom: 1rem;

    @media(min-width: $mobile-landscape-breakpoint) {
      width: auto;
      margin: 0;
    }
  }

  .inner {
    padding-bottom: 3rem;

    @media(min-width: $mobile-landscape-breakpoint) {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &:last-child {
    .inner {
      padding-bottom: 0;
    }
  }

  &.is-visible {
    animation: fadeIn 700ms;
  }

  &.is-hidden {
    animation: fadeOut 700ms;
    opacity: 0;
    max-height: 0;
    left: -1620px;
  }

  .show-project {
    display: inline-block;
    margin-bottom: 1rem;
  }
}

.project-content {
  flex-grow: 1;

  @media(min-width: $mobile-landscape-breakpoint) {
    padding-left: 2rem;
  }

  h2 {
    margin-top: 0;
  }
}

.tech-filter {
  margin-bottom: 2rem;

  .badge {
    cursor: pointer;
  }
}