@use "../variables/colors";
@use "../variables/sizes";

#app {
  max-width: sizes.$page-width;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

.content {
  margin-top: 4.375rem;
  position: relative;
  padding: 0 2rem;
}

.content-medium {
  max-width: 50rem;
  margin: 0 auto;
}

.slide-leave-active {
  transition: right 0.250s ease;
  right: 0;
}

.slide-leave-to {
  right: 100%;
}

.slide-enter-active {
  transition: left 0.250s ease;
  left: 0;
}

.slide-enter-from {
  left: 100%;
}

code {
  background: #30364d;
  padding: 0.0667rem 0.25rem;
  border-radius: 4px;
}

.cursor-pointer {
  cursor: pointer;
}

.button,
.cta-button {
  display: inline-block;
  color: colors.$link-active;
  border: 2px solid colors.$link-active;
  border-radius: 5px;
  cursor: pointer;
  padding: .75rem;
  transition: all 0.25s ease-in-out;

  &.small {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    border-width: 1px;
  }

  &:hover {
    background-color: colors.$link-active;
    color: colors.$background-color;
  }
}

.cta-button {
  padding: 1.5rem;
}