#app {
  max-width: $page-width;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

.content {
  margin-top: 5rem;
  position: relative;

  @media(max-width: $page-padding-breakpoint) {
    padding: 0 1.25rem;
  }
}

.content-medium {
  max-width: 50rem;
  margin: 0 auto;
}

.slide-leave-active {
  transition: left 0.400s ease;
  left: 0;
}

.slide-leave-to {
  left: 100%;
}

.slide-enter-active {
  transition: right 0.400s ease;
  right: 0;
}

.slide-enter-from {
  right: 100%;
}