.resume-default {
  margin-top: 2.5rem;

  h2 {
    margin: 1.5rem 0 1.5rem;
    padding: 0 2rem 1rem 20rem;
    border-bottom: 0.25rem solid $link-active;
    width: auto;
    display: inline-block;
  }
}

.resume-default-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 1rem;

  .resume-default-row-left {
    min-width: 18rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    text-align: right;
    margin: 0 2rem 0 0;

    span {
      display: inline-block;
      border-bottom: 0.125rem solid $link-active;
      padding: 0 0 0.5rem;
    }
  }

  .resume-default-row-right {
    flex-grow: 1;
  }

  .resume-default-title {
    margin: 0 0 1rem;
  }

  .resume-default-where {
    margin: 0 0 1rem;
    display: block;
  }

  .resume-default-content {
    ul {
      margin: 0 0 1rem;
      padding: 0 0 0 1.25rem;

      li {
        padding: 0 0 0.25rem;
      }

      li > ul {
        margin: 0;
      }
    }
  }
}