h1, h2, h3, h4, h5, h6 {
  font-family: "Zilla Slab", sans-serif;
}

h1 {
  margin: 0 0 2.5rem;
}

a {
  text-decoration: none;
  color: $link;
  transition: color 0.15s ease-in-out;

  &:hover {
    color: $link-active;
  }
}

.text-center {
  text-align: center;
}