@import "variables";
@import "modules";
@import "components";
@import "modules/helper";

* {
  box-sizing: border-box;
}

html {
  width:100vw;
  overflow-x:hidden;
}

html,
body {
  background: $background-color;
  min-height: 90vh;

  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: darken($background-color, 3%);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $link-active;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $link;
  }
}

body {
  font-size: 1.125rem;
  line-height: 1.612rem;
  font-family: "Inter", sans-serif;
  margin: 0;
  color: #e0e4f6;
}

p {
  margin: 0 0 1rem;
}