@use "sass:color";
@use "variables";
@use "modules";
@use "components";
@use "modules/helper";
@use "variables/colors";

* {
  box-sizing: border-box;
}

html {
  width:100vw;
  overflow-x:hidden;
}

html,
body {
  background: colors.$background-color;
  min-height: 90vh;

  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: color.adjust(colors.$background-color, $lightness: -3%);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: colors.$link-active;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: colors.$link;
  }
}

body {
  font-size: 1.125rem;
  line-height: 1.612rem;
  font-family: "Inter", sans-serif;
  margin: 0;
  color: #e0e4f6;
}

p {
  margin: 0 0 1rem;
}