@import "variables";
@import "modules";
@import "components";

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  background: #232736;

  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: darken(#232736, 3%);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $link-active;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $link;
  }
}

body {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-family: "Inter", sans-serif;
  margin: 0;
  color: #e0e4f6;
}

p {
  margin: 0 0 1rem;
}